<div style="idth: 250px; float: left;"><br></div>
<div class="not_found">
  <h1>404 :(</h1>
  <br>
  <%= image_tag("lost.jpg") %>
  <br><br>
  <a href="/pois">
    Click here to return to safety.
  </a>
</div>