<div class="well bs-component" style=" width:400px; margin-left: auto; margin-right: auto; margin-top: 50px;">
    <h1>Editing poi</h1>
    <%= render 'form' %>
</div>

<div style=" width:350px; margin-left: auto; margin-right: auto; margin-top: 5px; padding-left: 5px;">
    <%= link_to 'Show', @poi %> |
    <%= link_to 'Back', pois_path %>
</div>