<div class="well bs-component" style=" width:350px; margin-left: auto; margin-right: auto; margin-top: 50px;">
  <h1>New poi</h1>
  <%= render 'form' %>
  <br>
</div>

<div style=" width:350px; margin-left: auto; margin-right: auto; margin-top: 5px; padding-left: 25px;">
  <button class="btn btn-primary btn-xs">
    <%= link_to 'Back', pois_path %>
  </button>
</div>
